svg.svg-definitions(
  role="presentation"
  xmlns='http://www.w3.org/2000/svg'
  xmlns:xlink='http://www.w3.org/1999/xlink'
)
  //- Arrow Vertice Center
  +symbol('icon-arrow-center')
    path(d=shapes.icon.arrow.center.d)

  //- Arrow Vertice Left
  +symbol('icon-arrow-left')
    path(d=shapes.icon.arrow.left.d)

  //- Arrow Vertice Right
  +symbol('icon-arrow-right')
    path(d=shapes.icon.arrow.right.d)

  //- Caret
  +symbol('icon-caret')
    path(d=shapes.icon.caret.d)

  //- Earth
  +symbol('icon-earth')
    path(d=shapes.icon.earth.d)

  //- News Paper
  +symbol('icon-news-paper')
    path(d=shapes.icon.news.paper.d)

  //- News Paper Image
  +symbol('icon-news-paper-img')
    path(d=shapes.icon.news.img.d)

  //- News Paper Text
  +symbol('icon-news-paper-text')
    path(d=shapes.icon.news.text.d)
